# permanently redirect from www domain to non-www domain
RewriteEngine on
Options +FollowSymLinks
RewriteCond %{HTTP_HOST} ^www\.verymanley\.com$ [NC]
RewriteRule (.*) http://verymanley.com/$1 [R=301,L]
