@charset "UTF-8";
/* CSS Document */

*{
padding: 0px;
margin: 0px;
border: 0px;
}

body
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	background-color:#282b2d;
	color:#ffffff;
	text-decoration:none;
}

#globalcontainer
{
	position:absolute;
	height:100%;
	width:200px;
	left:50%;
	margin-left:-300px;
	border-right:1px solid #266fd2;
	border-left:1px solid #266fd2;
}

#mailto
{
	color:#ffffff;
	text-decoration:none;
	border-bottom:1px dashed #232729;
}

#mailto:hover
{
	background-color:#266fd2;
	color:black;
}

/*---------right begin------------*/
#top
{
	width:200px; 
}
/*---------right end------------*/

/*---------intro begin------------*/
#intro
{
	padding:5px;
	border-bottom:1px solid #266fd2;
}

#intro:hover
{
	background:#232729;
}
/*---------intro end------------*/

/*---------nav begin------------*/
#linkhead
{
	position:absolute;
	right:20px;
	z-index:-1;
	padding:2px;
	border-right:1px solid #266fd2;
	border-bottom:1px solid #266fd2;
	border-left:1px solid #266fd2;
	color:#ffffff;
	background:#232729;
}

#navlist
{
	margin-top:4px;
}

#navcontainer
{
	position:relative;
	float:left;
	padding-bottom:4px;
	width: 200px; 
	border-bottom:1px solid #266fd2;
}

#navcontainer:hover
{
	background:#232729;
}

#navcontainer ul
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

#navcontainer a
{
	display: block;
	margin-top:1px;
	margin-bottom:1px;
	padding-left:5px;
	width: auto;
}

#navcontainer a:link,
#navlist a:visited
{
	color: #ffffff;
	text-decoration: none;
}

#navcontainer a:hover
{
	border-left:#232729 20px solid; 
	color:#000000;
	background:#266fd2 url(../shop/navgif1.gif);
	background-position:right;
	background-repeat:no-repeat
}
/*---------nav end------------*/

/*---------twiter begin------------*/
#twitter
{
	width:200px;
	position:fixed;
	bottom:0;
	border-top:1px solid #266fd2;
}

#followme
{
	padding:5px 0 5px 5px;
}

#followme:hover
{
	background:#232729;
}

#followme a
{
	color:#ffffff;
	text-decoration:none;
	border-bottom:1px dashed #232729;
}

#followme a:hover
{
	background-color:#266fd2;
	color:black;
}

ul#twitter_update_list 
{ 
	list-style:none; 
}  

ul#twitter_update_list li
{
	padding:5px;
	border-top:1px dashed #266fd2; 
}

ul#twitter_update_list li:hover
{
	background:#232729;
}

ul#twitter_update_list li a 
{
	word-break:break-all;
	text-decoration:none;
	color:white; 
	border-bottom:1px dashed #232729;
} 

ul#twitter_update_list li a:hover
{ 
	background-color:#266fd2;
	color:black;
}
/*---------twiter end------------*/