@charset "UTF-8";
/* CSS Document */

*{
padding: 0px;
margin: 0px;
border: 0px;
}

body
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	background-color: #282b2d;
	color: #ffffff;
	text-decoration: none;
  background-image: url("https://foxbytellc.github.io/background02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#global_container
{
	position: absolute;
	height: 2630px;
	width: 800px;
	left: 50%;
  margin-top: 50px;
	margin-left: -400px;
}

#foot_tab
{
  bottom: 0;
  position: fixed;
  overflow: hidden;
  z-index: -2;
	width: 100%;
	border-top: 1px solid #266fd2;
  height: 16px;
  margin-top: 20px;
  padding: 4px;
  background-color: #282b2d;
  opacity: .8;
  text-align: center;
	transition: .8s ease;
}

#foot_tab:hover
{
	background: #232729;
	transition: .8s ease;
}

/*---------nav begin------------*/

#nav_list
{
}

#nav_container
{
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 1;
	width: 100%;
	border-bottom: 1px solid #266fd2;
  height: 32px;
  background-color: #282b2d;
  opacity: .9;
  text-align: center;
	box-shadow: 0px 2px 4px #000000;
	transition: .8s ease;
}

#nav_container:hover
{
	background: #232729;
	opacity: 1;
	transition: .8s ease;
}

#navcontainer ul
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
  text-align: center;
}

#nav_container li
{
  display: inline;
	font-size: 10px;
	font: bold;
}

#nav_container a
{
  display: inline-block;
	height: 32px;
	margin-left: -2px;
	margin-right: -2px;
  padding-top : 6px;
  padding-bottom : 4px;
  padding-right: 10px;
	padding-left: 10px;
	width: auto;
	transition: .8s ease;
}

#nav_container a:link,
#nav_list a:visited
{
	color: #ffffff;
	text-decoration: none;
}

#nav_container a:hover
{
	color: #282b2d;
  background: #266fd2;
  padding-bottom : 3px;
	transition: .2s ease;
}

/*---------nav end------------*/

/*---------written by verymanley------------*/
