@charset "UTF-8";
/* Global CSS Document */

*
{
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body, html
{
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #282b2d;
  color: #ffffff;
  text-decoration: none;
  scroll-behavior: smooth;
}

.p_margin
{
  margin-top: 5%;
}

h1
{
  display: table;
  padding-right: 10vw;
  color: #597387;
  padding-bottom: 20px;
  border-bottom: 4px solid #282b2d;
  transition: .4s ease;
}

h1:hover
{
  color: #266fd2;
  transition: .4s ease;
}

h2
{
  color: #597387;
  padding-bottom: 20px;
  border-bottom: 4px solid #282b2d;
  transition: .4s ease;
}

h2:hover
{
  color: #266fd2;
  transition: .4s ease;
}

h4
{
  transition: .4s ease;
}

h4:hover
{
  color: #266fd2;
  transition: .4s ease;
}

.links
{
  text-decoration: none;
  color: #ffffff;
}

#links:link, :visited
{
  background-color: #282b2d;
  text-decoration: none;
  margin-right: 1px;
  transition: .4s ease;
}

#links:hover
{
  background-color: #27ae60;
  color: #282b2d;
  transition: .6s ease;
}

/*---------nav begin------------*/

#navbar
{
  overflow: hidden;
  background-color: #282b2d;
  z-index: 4;
}

.sticky
{
  position: fixed;
  top: 0;
  height: 2.5em;
  width: 100%;
  border-bottom: 1px solid #266fd2;
  box-shadow: 0px 2px 20px #000000;
  opacity: .9;
  transition: .6s ease;
  animation:animatetop .4s}@keyframes animatetop{from{top:-4em;opacity:0} to{top:0;opacity:.9}
}

.sticky:hover
{
  opacity: 1;
}

.inner
{
  position: absolute;
  z-index: -2;
  text-decoration: none;
}

.inner a
{
  float: left;
  display: block;
  color: #266fd2;
  text-align: center;
  padding: 11px 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: 1s ease;
}

.inner a:hover
{
  background-color: #597387;
  color: #282b2d;
  transition: .4s ease;
}

/*---------nav end------------*/

/*---------intro begin------------*/

.intro_container
{
  background-image: url("https://verymanley.github.io/bgimg01.jpg");
  height: 110%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282b2d;
  box-shadow: 0px 2px 20px #000000;
  padding-top: 5%;
  animation:opac 1.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

#intro_container
{
  position: absolute;
  height: auto;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -300px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #266fd2;
  border-left: 4px solid #266fd2;
}

#intro_txt_a
{
  position: relative;
  box-sizing: content-box;
  width: 600px;
  font-size: 80px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #266fd2;
  animation:animateright 1.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

#intro_txt_b
{
  position: relative;
  box-sizing: content-box;
  font-size: 40px;
  width: 340px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #266fd2;
  animation:animateright 1.8s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

#intro_txt_c
{
  position: relative;
  box-sizing: content-box;
  font-size: 20px;
  width: 120px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #266fd2;
  animation:animateright 1s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

#intro_txt_a:hover, #intro_txt_b:hover, #intro_txt_c:hover
{
  color: #282b2d;
  background: #266fd2;
  padding-left : 20px;
	transition: .2s ease;
  border-left: 1px solid #282b2d;
}

.arrow_animate
{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.arrow_animate span
{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow_animate a
{
  display: block;
  width: 20px;
  height: 20px;
}

.arrow_animate span:nth-child(2)
{
  animation-delay: -.2s;
}

.arrow_animate span:nth-child(3)
{
  animation-delay: -.4s;
}

@keyframes animate
{
    0%
    {
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
    }
    50%
    {
      opacity: 1;
    }
    100%
    {
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
    }
}

@media screen and (max-width: 600px)
{
  #intro_container
  {
    padding-top: 40px;
    padding-bottom: 40px;
    transform: scale(.6);
    float: left;
  }
}

/*---------intro end------------*/

/*---------slideUp begin------------*/

.slideUp
{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slideUp
{
  0%
  {
    opacity: 0;
    transform: translateY(70%);
  }
  100%
  {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp
{
  0%
  {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100%
  {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.hidden
{
  visibility: hidden;
}

/*---------slideUp end------------*/

/*---------solutions begin------------*/

.solutions_head
{
  overflow: auto;
  padding: 20px;
  background-color: #232729;
}

.solutions_body
{
  border-bottom: 1px solid #266fd2;
  overflow: auto;
  padding: 20px;
  background-color: #232729;
}

.solutions_nav_a
{
  background-attachment: local;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #266fd2;
  background-blend-mode: multiply;
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  padding: 20px;
  transition: .4s ease;
  border: 1px solid #282b2d;
  animation:animateleft 1s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}

.solutions_img_a
{
  background-image: url("solution01.jpg");
}

.solutions_img_b
{
  background-image: url("solution02.jpg");
}

.solutions_img_c
{
  background-image: url("solution03.jpg");
}

.solutions_img_d
{
  background-image: url("solution04.jpg");
}

.solutions_overlay
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment: local;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #232729;
  width: 100%;
  height: 0;
  transition: .4s ease;
}

.solutions_nav_a:hover .solutions_overlay
{
  height: 100%;
  padding: 20px;
}

.solutions_nav_a:hover
{
  border: 1px solid #282b2d;
  border-top: 1px solid #266fd2;
}

.solutions_nav_txt
{
  position: relative;
  z-index: 100;
  transition: .4s ease;
  margin-top: 60px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  border-bottom: 1px solid #597387;
}

.solutions_nav_a:hover .solutions_nav_txt:hover
{
  box-shadow: none;
}

.solutions_nav_txt:link, :visited
{
  text-decoration: none;
}

.solutions_nav_a:hover .solutions_nav_txt
{
  height: 100%;
  color: #282b2d;
  background-color: #597387;
  transition: .4s ease;
  border-bottom: 1px solid #282b2d;
  box-shadow: 0px 2px 10px #000000;
}

@media screen and (max-width: 600px)
{
  .solutions_nav_a
  {
    width: 100%;
  }
}

/*---------solutions end------------*/

/*---------global design begin------------*/

.design_a_container
{
  background-image: url("https://verymanley.github.io/bgimg02.jpg");
  height: auto;
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #232729;
  box-shadow: 0px 2px 20px #000000;
  padding-top: 80vh;
}

.design_b_container
{
  background-image: url("https://verymanley.github.io/bgimg01.jpg");
  height: auto;
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #232729;
  box-shadow: 0px 2px 20px #000000;
  padding-top: 80vh;
}

.design_head
{
  border-bottom: 1px solid #266fd2;
  padding: 20px;
  background-color: #232729;
  overflow: hidden;
}

/* Clear floats after the columns */
.design_head:after
{
  content: "";
  display: table;
  clear: both;
}

.column_left
{
  float: left;
  width: 50%;
  text-align: left;
  padding: 20px;
  background-color: #232729;
  overflow: hidden;
}

.column_right
{
  float: right;
  width: 50%;
  text-align: right;
  padding: 20px;
  background-color: #232729;
  overflow: hidden;
}

.column_img
{
  padding-left: 10%;
}

.about_txt_container
{
  position: absolute;
  height: auto;
  left: 50%;
  margin-top: -20%;
}

.display_middle
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.large_center
{
  text-align: center;
  font-family: 'Geo', sans-serif;
  font-size: 8vw;
  font-weight: bold;
  color: #266fd2;
  text-shadow: 2px 2px #282b2d;
}

.border
{
  border-top: 1px solid #266fd2;
  border-bottom: 2px solid #282b2d;
  margin-left: 28vw;
  margin-right: 28vw;
}

.layeredimage_container
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 360px;
  height: 492px;
  background: rgba(0,0,0,.1);
  transform: rotate(-30deg) skew(25deg) scale(.8);
  transition: .5s;
}

.layeredimage_container img
{
  position: absolute;
  width: 75%;
  transition: .5s;
}

.layeredimage_container img:nth-child(4)
{
  transform: translate(80px,-80px);
  opacity: 1;
}

.layeredimage_container img:nth-child(3)
{
  transform: translate(60px,-60px);
  opacity: .8;
}

.layeredimage_container img:nth-child(2)
{
  transform: translate(40px,-40px);
  opacity: .6;
}

.layeredimage_container img:nth-child(1)
{
  transform: translate(20px,-20px);
  opacity: .4;
}

@media screen and (max-width: 600px)
{
  .column_left, .column_right
  {
    width: 100%;
    text-align: left;
  }

  .layeredimage_container
  {
    transform: rotate(-30deg) skew(25deg) scale(.6);
  }

  .display_middle
  {
    padding-bottom: 50vh;
  }

  .large_center
  {
    font-size: 16vw;
  }
}

/*---------global design end------------*/

/*---------systems begin------------*/

#animate_top
{
  width: 20vw;
  margin-bottom: 40px;
  position: relative;
  margin-left: 30vw;
  margin-right: 30vw;
}

#large_center
{
  text-align: center;
  font-family: 'Geo', sans-serif;
  font-size: 6vw;
  font-weight: bold;
  margin-top: 20px;
  color: #266fd2;
  text-shadow: 2px 2px #282b2d;
}

.systems_head_space
{
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.systems_left_space
{
  padding-left: 10vw;
}

#design_a_container
{
  position: relative;
  float: left;
  height: auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 70px;
  color: #009933;
  border-left: 4px solid #009933;
}

#design_b_container
{
  position: relative;
  float: left;
  height: auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 70px;
  color: #f1a91f;
  border-left: 4px solid #f1a91f;
}

#design_a_txt_a
{
  box-sizing: content-box;
  width: 270px;
  font-size: 40px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #009933;
}

#design_a_txt_b
{
  box-sizing: content-box;
  font-size: 20px;
  width: 180px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #009933;
}

#design_a_txt_c
{
  box-sizing: content-box;
  font-size: 10px;
  width: 140px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #009933;
}

#design_a_txt_a:hover, #design_a_txt_b:hover, #design_a_txt_c:hover
{
  color: #282b2d;
  background: #009933;
  padding-left : 10px;
  margin-right: -10px;
  transition: .2s ease;
  border-left: 1px solid #282b2d;
}

#design_b_txt_a
{
  box-sizing: content-box;
  width: 260px;
  font-size: 40px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #f1a91f;
}

#design_b_txt_b
{
  box-sizing: content-box;
  font-size: 20px;
  width: 160px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #f1a91f;
  text-decoration: none;
}

#design_b_txt_c
{
  box-sizing: content-box;
  font-size: 10px;
  width: 144px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #f1a91f;
}

#design_b_txt_a:hover, #design_b_txt_b:hover, #design_b_txt_c:hover
{
  color: #282b2d;
  background: #f1a91f;
  padding-left : 10px;
  margin-right: -10px;
  transition: .2s ease;
  border-left: 1px solid #282b2d;
}

.manleylawn_links
{
  text-decoration: none;
  color: #009933;
}

.manleylawn_links:hover
{
  color: #282b2d;
  transition: .4s ease;
}

.foxbyte_links
{
  text-decoration: none;
  color: #f1a91f;
}

.foxbyte_links:hover
{
  color: #282b2d;
  transition: .4s ease;
}

#head_logo
{
  position: relative;
  float: left;
  height: 40px;
  width: 40px;
  padding-top: 53px;
  opacity: 2;
  text-align: center;
  font-size: 16px;
  transition: all .5s;
}

#head_logo_img
{
  opacity: .8;
  display: block;
  width: 100px;
  height: 100px;
  transition: .5s ease;
  backface-visibility: hidden;
}

@media screen and (max-width: 600px)
{
  #design_a_container, #design_b_container, #head_logo_img
  {
    transform: scale(.8);
  }

  .systems_head_space
  {
    padding-top: 2vh;
    padding-bottom: 10vh;
  }

  .systems_left_space
  {
    padding-left: 40px;
  }

  #head_logo_img
  {
    margin-top: 50px;
  }

  #animate_top
  {
    width: 40vw;
  }

  #large_center
  {
    font-size: 10vw;
  }
}

/*---------systems end------------*/

/*---------footer begin------------*/

.contact_margin
{
  margin-bottom: 60vh;
  border-bottom: 1px solid #597387;
}

.footer
{
  position: fixed;
  height: 60vh;
  width: 100%;
  z-index: -10;
  bottom: 0;
  overflow: auto;
  padding: 5%;
  background-color: #232729;
  text-align: center;
}

.footer_p
{
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
  border-top: 4px solid #282b2d;
}

/*---------footer end------------*/

/*---------social begin------------*/

.social
{
  margin-top: 10vh;
  margin-left: 20%;
  margin-right: 20%;
}

.social_body
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  padding-bottom: 10vh;
}

ul
{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

ul li
{
  margin: 0 40px;
}

ul li a .fa
{
  font-size: 40px;
  color: #282b2d;
  line-height: 80px;
  transition: 0.5s;
}

ul li a:visited
{
  background: #597387;
}

ul li a
{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background: #597387;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

ul li a::before
{
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #3e5160;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

ul li a::after
{
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #68869c;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover
{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

ul li:hover .fa
{
  color: #597387;
}

ul li:hover:nth-child(1) a
{
  background-color: #55acee;
}

ul li:hover:nth-child(1) a::before
{
  background-color: #4489be;
}

ul li:hover:nth-child(1) a::after
{
  background-color: #66b4ef;
}

ul li:hover:nth-child(2) a
{
  background-color: #e4405f;
}

ul li:hover:nth-child(2) a::before
{
  background-color: #b6334c;
}

ul li:hover:nth-child(2) a::after
{
  background-color: #e6536f;
}

ul li:hover:nth-child(3) a
{
  background-color: #0077b5;
}

ul li:hover:nth-child(3) a::before
{
  background-color: #005f90;
}

ul li:hover:nth-child(3) a::after
{
  background-color: #1984bc;
}

ul li:hover:nth-child(4) a
{
  background-color: #2E2E2E;
}

ul li:hover:nth-child(4) a::before
{
  background-color: #1A1A1A;
}

ul li:hover:nth-child(4) a::after
{
  background-color: #212121;
}

@media (max-width: 600px)
{
  ul
  {
    transform: scale(0.6);
  }
}

@media (min-width: 601px) and (max-width: 700px)
{
  ul
  {
    transform: scale(0.7);
  }
}

@media (min-width: 701px) and (max-width: 800px)
{
  ul
  {
    transform: scale(0.8);
  }
}

/*---------social end------------*/

/*--designed and created by Joshua Manley--*/
